<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRqGQ8aBsun5uE8PtmtR6qgfCFGHpGgJs</string>
	<key>GCM_SENDER_ID</key>
	<string>14117639892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApk</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ce2b1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ce2b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14117639892:ios:7dc621d032b09615980d41</string>
</dict>
</plist>